body {
  background-color: rgb(91, 12, 12);
  color: white;
}

p {
  font: normal 14pt Arial;
}

.balance {
  font: normal 17pt Arial;
}

.butao {
  background-color: #fafafa;
  color: black;
  border: none;
  padding: 1.5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}
